{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>
    <div class="card">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Foto">
        <div class="card-body">
            <h5 class="card-title text-bg-primary">Product</h5>
            <p class="text-bg-secondary">Product Test</p>
            <a href="{{..}}" class="btn btn-primary">Open</a>
        </div>
    </div>

    <br>
    <br>

    <ul class="list-group">
        <li class="list-group-item"> Test1</li>
        <li class="list-group-item"> Test2</li>
        <li class="list-group-item"> Test3</li>
    </ul>
    <br>
    <ul class="list-group">
        <li class="list-group-item">
            <ul class="list-group">
                <li class="list-group-item"> Test 1.1</li>
                <li class="list-group-item"> Test 1.2</li>
            </ul>
        </li>
        <li class="list-group-item"> Test2</li>
        <li class="list-group-item"> Test3</li>
    </ul>
    <br>

    <h5>Menu</h5>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{..}}" class="btn btn-link">Home page</a>
        </li>
        <li class="list-group-item">
            <a href="{{..}}" class="btn btn-link">Summary page</a>
        </li>
        <li class="list-group-item">
            <a href="{{..}}" class="btn btn-link">Skills page</a>
        </li>
    </ul>

    <br>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Menu</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{..}}" class="btn btn-link">Home page 1 </a>
                </li>
                <li class="list-group-item">
                    <a href="{{..}}" class="btn btn-link">Summary page 2 </a>
                </li>
                <li class="list-group-item">
                    <a href="{{..}}" class="btn btn-link">Skills page 3 </a>
                </li>
            </ul>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Menu</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-bg-danger">
                <a href="{{..}}" class="btn btn-link">Home</a>
            </li>
            <li class="list-group-item text-bg-warning">
                <a href="{{..}}" class="btn btn-link">Summary</a>
            </li>
            <li class="list-group-item  text-bg-info">
                <a href="{{..}}" class="btn btn-link">Skills</a>
            </li>
        </ul>
    </div>

    <br>

    <div class="card">
        <div class="card-header">
            <div>Menu</div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="{{..}}" class="btn btn-link">Home 1 page</a>
            </li>
            <li class="list-group-item">
                <a href="{{..}}" class="btn btn-link">Summary 2 page</a>
            </li>
            <li class="list-group-item">
                <a href="{{..}}" class="btn btn-link">Skills 3 page</a>
            </li>
        </ul>
        <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update list</button>
        </div>
    </div>
    <br>
    <hr>

    <h3 class="text-center">Tables</h3>

    <table>
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Jhon</td>
                <td>35</td>
            </tr>
        </tbody>
    </table>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>1</th>
                <td>Jhon</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>30</td>
            </tr>
        </tbody>
    </table>

    <br>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>1</th>
                <td>Jhon</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>30</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Ivan</td>
                <td>30</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Ivan</td>
                <td>30</td>
            </tr>
            <tr>
                <th>5</th>
                <td>Ivan</td>
                <td>30</td>
            </tr>
        </tbody>
    </table>

    <br>

    <table class="table table-bordered text-bg-warning">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>1</th>
                <td>Jhon</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>30</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Ivan</td>
                <td>30</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Ivan</td>
                <td>30</td>
            </tr>
            <tr>
                <th>5</th>
                <td>Ivan</td>
                <td>30</td>
            </tr>
        </tbody>
    </table>
    <br>
    <hr>

    <h3 class="text-center">Card</h3>
    <br>

    <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>Thi is content of our box</p>
            <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>

    <br>
    <hr>

    <h3 class="text-center">Сітка</h3>
    <br>

    <div class="row">
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Thi is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Thi is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Thi is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Thi is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
    </div>


    <section class="row gy-5 gx-5">

        <div class="col-6">
            <div class="card text-bg-warning">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Thi is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-bg-warning">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Thi is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-warning">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Thi is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-warning">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Thi is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
    </section>
    <hr>
    <section>

        <h3 class="text-center">Навігаційне меню</h3>

        <div class="row g-4">
            <div class="col-12">
                <div class="nav nav-tabs">
                    <div class="nav-item">
                        <a href="#" class="nav-link active">Main</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link disabled">Catalog</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link">Shop list</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="nav flex-column">
                            <div class="class-item">
                                <div class="card">
                                    <a href="/summary" class="nav-link">Home page</a>
                                </div>
                                <br>
                            </div>
                            <div class="class-item">
                                <div class="card">
                                    <a href="#" class="nav-link">Bootstrap</a>
                                </div>
                                <br>
                            </div>
                            <div class="class-item">
                                <div class="card">
                                    <a href="/skills" class="nav-link">FAQ page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">PC end Nootbook</a>
                            </li>
                            <li class="breadcrumb-item">
                                MacBook
                            </li>
                        </ol>
                    </div>

                    <div class="col-12">
                        <div class="alert alert-dark">
                            <h6>
                                Hello word! <span class="badge text-bg-warning rounded-pill text-uppercase">Топ
                                    продаж</span>
                            </h6>
                            <button class="btn btn-primary rounded-pill">Click me</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="p-3">

            <h3 class="text-center">Компоненти форми та поля</h3>

            <div class="row g-2">
                <div class="col-12">
                    <label class="form-label">Email address</label>
                    <input class="form-control" placeholder="SurName">
                    <div class="form-text text-danger">Error.You need to set correct email</div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-2 pt-1">
                            <label class="form-label">Email address</label>
                        </div>
                        <div class="col-6">
                            <input class="form-control form-control-lg">
                        </div>
                        <div class="col-4 ps-5 pt-1">
                            <div class="form-text text-danger">Error. You need to set correct email</div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-2 pt-1">
                            <label class="form-label">Email - 2</label>
                        </div>
                        <div class="col-3">
                            <input type="color" class="form-control">
                        </div>
                        <div class="col-4 ps-5 pt-1">
                            <div class="form-text text-danger">Error. You need to set correct email</div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <hr>
            </div>

            <div class="col-12">
                <label class="form-label">Select role</label>
                <select class="form-select form-select-lg">
                    <option selected>Open list</option>
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                </select>
                <div class="form-text text-danger">Error. You need to set correct email</div>
            </div>

            <div>
                <hr>
            </div>

            <div class="col-12">
                <div class="form-label">Select food</div>

                <div class="form-check">
                    <label class="form-check-label">Apple</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Orange</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Banana</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
            </div>

            <div>
                <hr>
            </div>

            <div class="col-12">
                <div class="form-label">Select food</div>

                <div class="form-check">
                    <label class="form-check-label">Apple</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Orange</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Banana</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
            </div>

            <div>
                <hr>
            </div>

            <div class="col-12">
                <div class="form-check form-switch">
                    <label class="form-check-label">Get bonus</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section>
        <div>
            <h2 class="text-center">Icons</h2>
        </div>

        <div>
            <h4>Hello <i class="bi bi-emoji-smile"></i></h4>
            <i class="fa-brands fa-slack" style="color: #63E6BE;"></i>
        </div>
        <div>
            <button class="btn btn-primary"><i class="bi bi-suit-heart"></i></button>
            <i class="fa-brands fa-slack" style="color: #63E6BE;"></i>
        </div>

        <div>
            <i class="fa-brands fa-slack" style="color: #63E6BE;"></i>
        </div>
        <hr>
        <div>
            <svg width="55px" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path fill="#63E6BE"
                    d="M94.1 315.1c0 25.9-21.2 47.1-47.1 47.1S0 341 0 315.1c0-25.9 21.2-47.1 47.1-47.1h47.1v47.1zm23.7 0c0-25.9 21.2-47.1 47.1-47.1s47.1 21.2 47.1 47.1v117.8c0 25.9-21.2 47.1-47.1 47.1s-47.1-21.2-47.1-47.1V315.1zm47.1-189c-25.9 0-47.1-21.2-47.1-47.1S139 32 164.9 32s47.1 21.2 47.1 47.1v47.1H164.9zm0 23.7c25.9 0 47.1 21.2 47.1 47.1s-21.2 47.1-47.1 47.1H47.1C21.2 244 0 222.8 0 196.9s21.2-47.1 47.1-47.1H164.9zm189 47.1c0-25.9 21.2-47.1 47.1-47.1 25.9 0 47.1 21.2 47.1 47.1s-21.2 47.1-47.1 47.1h-47.1V196.9zm-23.7 0c0 25.9-21.2 47.1-47.1 47.1-25.9 0-47.1-21.2-47.1-47.1V79.1c0-25.9 21.2-47.1 47.1-47.1 25.9 0 47.1 21.2 47.1 47.1V196.9zM283.1 385.9c25.9 0 47.1 21.2 47.1 47.1 0 25.9-21.2 47.1-47.1 47.1-25.9 0-47.1-21.2-47.1-47.1v-47.1h47.1zm0-23.7c-25.9 0-47.1-21.2-47.1-47.1 0-25.9 21.2-47.1 47.1-47.1h117.8c25.9 0 47.1 21.2 47.1 47.1 0 25.9-21.2 47.1-47.1 47.1H283.1z" />
            </svg>
        </div>
        <b>Copy svg</b>
        <div>
            <img src="/svg/slack.svg">
        </div>
        <hr>
    </section>


</main>



{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}