<div>
    {{#with person}}
    <div>
        <h1>{{name}}</h1>
    </div>
    <div>
        <p>{{age}}, {{gender}}</p>
    </div>
    <div>
        <em>{{address.street}}, {{address.city}}, {{address.state}}, {{address.zip}}, {{address.country}}</em>
    </div>
    <hr>
    <div>
        <ul>
            {{#each education}}
            <li>{{degree}}</li>
            <li>{{major}}</li>
            <li>{{university}}</li>
            <li>{{graduationYear}}</li>
            {{/each}}
        </ul>
        <div>
            {{#each workExperience}}
            <h2>{{company}}</h2>
            <b>{{title}}</b>
            <li>{{startDate}}</li>
            <li>{{endDate}}</li>
            <div>
                <ul>
                    {{#each responsibilities}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div>
                <em>{{year_founded}}, {{industry}}</em>
            </div>
            <hr>
            <div>
                <ul>
                    {{#each employees}}
                    <li>{{name}}, {{position}}, {{department}}</li>
                    <br>
                    <div>
                        {{#each projects}}

                        <strong>{{name}}</strong>
                        <ol>{{description}}</ol>
                        <ol>{{status}}</ol>
                        <div>
                            {{#each teams}}
                            <b>{{team_name}}</b>
                            {{#with team_leader}}
                            <ol>{{name}}</ol>
                            <ol>{{title}}</ol>
                            <address>{{email}}</address>
                            {{/with}}
                            <hr>
                            {{#each team_members}}
                            <ol>{{name}}</ol>
                            <ol>{{title}}</ol>
                            <address>{{email}}</address>
                            {{#each skills}}
                            {{this}}
                            {{/each}}
                            <hr>
                            <li>
                                {{#each projects}}
                                <b>{{name}}</b>
                                <p>{{description}}</p>
                                {{#each technologies}}
                                {{this}}
                                {{/each}}
                                <hr>
                                {{#each team_members}}
                                <p>{{name}}, {{title}}</p>
                                {{/each}}
                                {{/each}}
                            </li>
                            {{/each}}


                            {{/each}}
                        </div>
                        {{/each}}

                    </div>
                    {{/each}}
                </ul>
            </div>


            {{/each}}
        </div>


    </div>
    {{/with}}

</div>